[Unit]
Description=Delete Slack Messages

[Service]
User=
Type=oneshot
WorkingDirectory=
ExecStart=$WorkingDirectory/delete-slack-messages/delete-slack-messages.js $SLACK_CHANNEL_ID
Environment="PATH=/home/$USER/.anyenv/envs/nodenv/shims/node:$PATH"
Environment="SLACK_TOKEN="
Environment="SLACK_CHANNEL_ID="